*{
    padding: 0;
    margin: 0;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*border: 2px solid black;*/
}
#contact .box 
{
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border: 6px solid black;
    border-radius: 3rem;
    padding: 50px;
}
#contact .box input,
#contact .box textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
}
#contact .box label
{
    color: black;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Game*/
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 30px;
    
    padding-left: 200px;
}
#game .box2
{
    
    background-color: lightseagreen;
    border: 2px solid black;
    border-radius: 3rem;
    padding: 20px;
}
#ip 
{
    width: 20%;
    padding: 0.5rem;
}
#ip1 
{
    width: 20%;
    padding: 0.5rem;
    margin-left: 175px;
    
}

.btn
{
    
    position: relative;
    padding: 6px 30px;
    border: 2px solid black;
    background-color: rgb(253, 253, 151);
    color: black;
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover
{
    background-color: black;
    color: rgb(253, 253, 151);
}
.btn1
{
    position: relative;
    padding: 6px 30px;
    border: 2px solid black;
    background-color: rgb(253, 253, 151);
    color: black;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn1:hover
{
    background-color: black;
    color: rgb(253, 253, 151);
}

.h-s
{
    /*justify-content: center;*/
    padding: 6px 500px;
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#leader
{
   /* border: 2px solid purple;*/
    padding: 10px;
    width: 70%;
    justify-content: center;
    align-self: center;
    padding-left: 400px;
}
#leader td,
#leader th
{
    border: 2px solid black;
}
#leader th
{
    background-color: rgb(253, 253, 151);
}
#leader1{
    /* border: 2px solid purple;*/
     padding: 10px;
     width: 100%;
     justify-content: center;
     align-self: center;
 }
 #leader1 td,
 #leader1 th{
     border: 2px solid black;
 }
 #leader1 th{
     background-color: rgb(253, 253, 151);
 }
.center {
    justify-content: center;
    padding-top: 5px;
    margin: auto;
    width: 30%;
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  
.wrapper .sidebar
{
    /*background: rgb(5, 68, 104);*/
    background: rgb(253, 253, 151);
    position: fixed;
    top: 0;
    left: 0;
    width: 175px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-right: 2px solid rebeccapurple;
}
.wrapper .sidebar ul li a
{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active
{
    color: rebeccapurple;
    background:lightgrey;
    
}
/*
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before
{
    display: block;
}*/