*{
    padding: 0;
    margin: 0;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*border: 2px solid black;*/
}
#contact .box 
{
    
    background-color: lightblue;
    border: 6px solid blue;
    border-radius: 3rem;
    padding: 50px;
}

#contact .box input,
#contact .box textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
}

#contact .box label{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Game*/
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 30px;
}
#game .box2
{
    
    background-color: lightblue;
    border: 6px solid blue;
    border-radius: 3rem;
    padding: 20px;
}
#ip 
{
    width: 30%;
    padding: 0.5rem;
}

.btn
{
    position: relative;
    padding: 6px 30px;
    border: 2px solid blue;
    background-color: rgb(253, 253, 151);
    color: black;
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.h-p
{
    justify-content: center;
    padding: 6px 400px;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wline {
    position: relative; 
    width: 100%;
    border-top:1px solid black;
    padding-bottom: 10px;
}